.hero {
    display: flex;
    gap: 3rem;
    align-items: center;
}
.hero img {
    max-height: 30vh;
}
.desc p {
    margin-top: 4rem;
    font-size: 1.5rem;
}
.subdescription {
    font-size: 1.2rem !important;
    font-weight: 400 !important;
}
.hero h1 {
    font-size: 2.5rem;
    font-weight: 700;
}
.hero h2 {
    font-size: 2rem;
    font-weight: 400;
}
.social {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}
