.container {
    background-color: white;
    display: grid;
    grid-template-columns: 6fr 4fr;
    padding: 1rem;
    gap: 1rem;
    max-width: 1024px;
}
.right {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    gap: 1rem;
}
.right p {
    color: #000;
}

.button {
    background: #902eff;
    height: 3.5rem;
    width: 10rem;
    color: white;
    cursor: pointer;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
    font-family: "Gentium Plus";
}

:global(.custom-theme-dark) .button {
    background: #02023b;
}

.buttonContainer {
    align-self: center;
}
