.container {
    padding: 1rem;
    border-radius: 2rem;
    display: grid;
}
.container img {
    max-height: 30rem;
}

.title {
    text-underline-offset: 2rem;
    text-decoration: underline;
}
.box {
    width: min(100%, 1024px);
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.main {
    display: flex;
    align-items: center;
}
